{
  "root": true,
  "env": {
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["airbnb-base", "plugin:@typescript-eslint/eslint-recommended"],
  "rules": {
    "max-len": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "comma-dangle": "off",
    "no-unused-vars": "off",
    "arrow-parens": ["error", "as-needed"],
    "class-methods-use-this": "off"
  }
}
